.grey_section{
    background-color: #ccc;
    padding-top: 70px;
    height: 170px;
    display: flex;
    align-items: center;
}

/* Genre Container Styles */

.genre_container{
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
    flex-wrap: wrap;
}
.genre_title{
    width: 70%;
    margin: 20px auto;
}
.genre_title h1{
    font-size: 2rem;
    font-weight: normal;
}
.genre_item{
    width: 280px;
}
.genre_item img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.7;
}
.genre_item img:hover{
    opacity: 1;
    cursor: pointer;
    transition: .25s;
}
.captions{
    margin-top: -7px;
    width: 100%;
    /* z-index: 999; */
}
.captions .movie_title{
    color: #fff;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 18px;
    padding: 10px 15px;
    margin: 0;
    background-color: rgb(51 51 51 / 80%);
    border-top: solid 1px #111;
    overflow: hidden;
    text-decoration: none;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .25s;
}
.captions .watch_trailer{
    color: #2e2e2e;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 18px;
    padding: 10px 15px;
    margin: 0;
    background-color: #2FC4EC;
    overflow: hidden;
    text-decoration: none;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .25s;
}
.simple_nav{
    width: 70%;
    margin: 0px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2e2e2e;
}

.simple_nav a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}